html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

article {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: absolute;
  width: 650px;
  padding: 0 1rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  margin-bottom: .5rem;
  line-height: 1.4;
}

h2 span {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
}
